[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
msgpack = "*"
adafruit-circuitpython-ads1x15 = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
