#boxes{
    width: 80%;
    margin: auto;
    text-align: center;
}

#btns{
    padding: 20px;
    background: cornsilk;
    margin-bottom: 20px;
}

#btns button{
    background: white;
    padding: 5px 10px;
    border: 0;
}

#btns .fa{
    font-size: 30px;
}

#btns .fa-play-circle{
    color: green;
}

#btns .fa-pause-circle{
    color: red;
}



body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#canvas-container {
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    /* border: 1px solid #ccc; */
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}



#panel-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #fff;
    /* padding: 20px; */
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
    text-transform: uppercase;
}

#panel-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #fff;
    /* padding: 20px; */
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
    text-transform: uppercase;
}

.panel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#mainCanvas {
    /* position: absolute;  */
    /* display: flex; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    border: 1px solid #ccc;
    /* width: 60%; */
    /* flex: 1; */
    /* justify-content: center; */
    /* align-items: center; */
}